:root{
    --font: "DM Sans", sans-serif;
    --white: #fff;
    --grey:#b3b3b3;
    --black: #000;
    --fundo: #121212;
    --bg-grey: #242424;
    --bg-icon:#131313;
    --bg-arrow-color: rgba(0,0,07);
    --grey2:#a7a7a7;
}